.wire-button,
.fill-button {
    font-weight: bold;
    border-radius: calc(infinity*1px);
    padding: 0.5rem 2.5rem;
    cursor: pointer;
}

.wire-button {
    background-color: transparent;
    border: solid;
}

.fill-button {
    background-color: var(--enf-color);
    border: none;
    color: white;
}

.input {
    padding: 0.2rem;
    border: none;
    border-bottom: solid 1px;
    text-align: left;
}