@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
}

body * {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;

    color: var(--main-color);

    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --main-color: #1D3F6F;
    --enf-color: #CA2728;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}