.hero-image img {
    width: 100%;
}

.home .headline {
    margin-top: 10rem;
}

.home .headline .title {
    font-size: 36px;
}

.home .headline .content {
    font-size: 64px;
}

.home .supporting {
    margin: 4rem 0rem;
    font-size: 32px;
}

.home .supporting b {
    font-size: 32px;
}

.home .grid {
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

@media (max-width:60rem) {
    .home .grid {
        grid-template-columns: 1fr;
    }

    .home .hero-image {
        grid-row: 1;
    }

    .home .headline {
        margin: 0;
    }
}